body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}
/* the styles for the header */
header h1 {
    font-size: 170%;
    color: #800000;
    text-align: center;
    padding: .5em 0 .25em 0;
}

header h2 {
    font-size: 130%;
    color: #800000;
    text-align: center;
    padding: .5em 0 .25em 0;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 50%;
    height: 10rem;
}
